*.iml
.gradle
/local.properties
.idea
.DS_Store
/apks
/build
/captures
app/fabric.properties
.externalNativeBuild
*.keystore
.idea/*.*
.idea/*
keys/*
/app/store.DS_Store
.DS_Store?
app/mappings.txt
scripts/
/libflue/build/*
/app/mapping.txt


*.apk
*.ap_
*.aab

*.dex

.cxx/

com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

!/gradle/wrapper/gradle-wrapper.jar

atlassian-ide-plugin.xml

.mtj.tmp/

.classpath
.project
.cproject
.settings/

hs_err_pid*

obj/

*.ipr
*~
*.swp

.signing/
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
/release_notes_prd.txt
